a,
p,
td {
    color: white;
    font-family: 'Poppins', sans-serif;
}

h2,
h5 {
    color: white;
    font-family: 'Berkshire Swash', cursive;
}

.bg-darker {
  background-color: #ccc;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: #0e0e0e;
    padding: 20px;
}

.side-border {
    position: relative;
    border: 5px solid #ccc;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

.text {
    margin: 60px;
}

.img {
    margin: 50px 0;
}

.text h2 {
    font-size: 100px;
}

.text h5 {
    font-size: 60px;
}

.text p {
    font-size: 18px;
}

.btn-order {
    margin-top: 30px;
    border-radius: 0px;
    border: 2px solid white;
    background-color: #0e0e0e;
    color: white;
    transition: all 0.2s ease-in-out;
    width: 200px;
    font-size: 20px;
}

.btn-order:hover {
    background-color: white;
    color: #0e0e0e;
}

.media {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    margin: 8px;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.media img {
    width: 25px;
    margin: 0 8px;
    border-radius: 5px;
    background-color: white;
}

.lead, .card-text {
  color: black;
}

@media (max-width: 768px) {
    .wrapper {
        padding: 5px;
    }
    .text h2 {
        font-size: 80px;
        text-align: center;
    }
    .text h5 {
        font-size: 40px;
        text-align: center;
    }
    .text p {
        font-size: 14px;
    }
    .media {
        font-size: 12px;
    }
    .media img {
        width: 16px;
        border-radius: 3px;
    }
    .btn-order {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 70px;
    }
    .text {
        margin: 5px;
    }
    .img {
        margin: 5px 0;
    }
}
